


   <body> 
    
    <div class="hero-image">
        <!-- <img src="assets/library.jpg" alt="Snow" style="width:50%"    style="height:50%"> -->
         <div class="hero-text">    
<h2 style="text-align:center">About Us</h2>
<pre style="font-size:19px">
          The  library management system project is related to the storage of information regarding the library.
          Library is the place with the huge collection of books. It is place from where the students and the faculties issue 
          the books for their reference purposes.
          But the maintenance of keeping the records of issuing and borrowing is difficult if you use a normal book as a registry. 
          To make this task easier, the library management system will be very useful. 
          It helps in maintaining the information regarding the issuing and borrowing of books by the students and 
          the faculties. The library complete project report will give the complete library project details.
</pre>
</div>
</div>
</body> 
