body {
    background:url(../../assets/background1.jpg) no-repeat !important;
    padding-top:100px;
    padding-bottom:100px ;
    background-size:cover;
  }

  .jumbotron {
    height:80%;
    width:80%;
    margin-left:12%;
  }

  .t{
    color:red;
  }

  
