<body>
<div class="container" > 
      <div class="jumbotron" >
        <h2 style="text-align:center">Login Form</h2> 
  <form #frm="ngForm">
     <div class="form-group">
       <label>User Name:<span class=t>*</span></label>
           <input type= "text" class="form-control" #nm="ngModel" ngModel name="email" 
            required minlength="5" maxlength="25">
         <div class="alert alert-danger" *ngIf="nm.invalid && nm.touched">
             <div *ngIf="nm.errors.required">First Name is Required</div>
             <div *ngIf="nm.errors.minlength">Name should be minimum of 5 letters</div>
        </div>
        </div>


<div class="form-group">
      <label>Password:<span class=t>*</span></label>
           <input type= "password" class="form-control" #pass="ngModel" ngModel name="password"  required minlength="8" maxlength="10">
            <div class="alert alert-danger" *ngIf="pass.invalid && pass.touched">
               <div *ngIf="pass.errors.required">Password is Required</div>
                <div *ngIf="pass.errors.minlength">Password should be minimum of 8 letters</div>
           </div>
         </div> 
         <input type="button" class="btn btn-primary"  (click)="add(frm.value)" value="Submit" [disabled]="frm.invalid">

      </form>
</div>
</div>
</body>
     
      
