<div class="hero-image">
<h2 style="text-align:center">Librarian Section</h2>
<nav class="navbar navbar-expand-sn invaerse navbar-dark">

        <ul class="nav nav-tabs">
                <li routerLinkActive="active"><a class="nav-link" routerLink="adbk">AddBook</a></li>
                <li routerLinkActive="active"><a class="nav-link" routerLink="vwbk">ViewBook</a></li>
                <li routerLinkActive="active"><a class="nav-link" routerLink="isbk">IssueBook</a></li>
                <li routerLinkActive="active"><a class="nav-link" routerLink="vwisbk">ViewIssueBook</a></li>
                <li routerLinkActive="active"><a class="nav-link" routerLink="rebk">ReturnBook</a></li>
                <li routerLinkActive="active"><a class="nav-link" (click)="goback()">LogOut</a></li>

        </ul>
</nav>
<!-- <div class="row">
        <div class="col-sm-4">
                <img src="assets/library7.jpg" alt="image not found" height="700" width="1350">
        </div>
        <div class="col-sm-6"> -->
                <router-outlet></router-outlet>
        <!-- </div> -->
</div>