<!-- <app-registerform></app-registerform> -->
<!-- <app-addlibrarian></app-addlibrarian> -->
<!-- <app-login></app-login> -->
<!-- <app-viewlibrarian></app-viewlibrarian> -->

<div class="navigation-bar">
  <nav class="navbar navbar-expand-sn invaerse navbar-dark"> 
   <img src="/assets/logolib.jpg" height="100px" width="200px" > 
 <ul class="nav nav-tabs">
      <li routerLinkActive="active"><a class="nav-link" routerLink="ho">Home</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="login">Login</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="about">About Us</a></li>
      <li routerLinkActive="active"><a class="nav-link" routerLink="contact">Contact Us</a></li>  
</ul>
 </nav>
          
    <router-outlet></router-outlet>
    
 
   </div>
   

   
  
