.hero-image {
    background-image: url("/assets/back5.jpg");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
  }

