

  .hero-image {
    background-image: url("/assets/back4.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  img {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 20px
  }
 