<body> 
    
    <div class="hero-image">
        <!-- <img src="assets/library.jpg" alt="Snow" style="width:50%"    style="height:50%"> -->
         <div class="hero-text">    
<!-- <h2 style="text-align:center">Contact Us</h2> -->
<h2 style=color:black> ENQUIRIES AND HELP:</h2>
<br>
        <h4 style=color:black> By phone:</h4>
           <p><img src="assets/phone-512.png" alt="telephone" height=50px  width=50px>  +020 7611 8722</p>
         <p><img src="assets/phone-logo-md.png" alt="telephone" height=30px  width=30px> +91 9862753641</p>   <br>                     
                        
             <h4 style=color:black> By email:</h4>
         <p><img src="assets/gmail.jpg" alt="telephone" height=20px  width=30px>admin@gmail.com</p><br>

<h4 style=color:black><img src="assets/lib-logo.jpg" alt="telephone" height=40px  width=40px>Office Address:</h4>
          2nd Floor, Rajeshwari Building, Behind Rohit Vadewale,
         <br> near Reliance Fresh Bharti Vidyapeeth, Katraj,
            <br>      Pune, Maharashtra 411046.
         
                    
</div>
</div>
</body> 

